.DS_Store
/bin/
Telemedicina.iml
.gitignore
.gitignore
.idea/misc.xml
.idea/modules.xml
.gitignore
.idea/libraries/lib.xml
.gitignore
.gitignore
.idea/vcs.xml
.gitignore
JavaFXApp/bin/JavaFXApp/src/Main.class
